section.aboutus {
  > div {
    padding: 0 85px;
  }

  .jumbotron {
    margin-top: 200px;
  }

  .whatwedo {
    background: $gray-light;
    margin: 0;

    h1,
    h3 {
      color: $blue-text;
    }
  }

  .thebottomline {
    background: $blue-text;
    margin: 0;
    border-bottom: 0;
    border-top: 5px solid transparent;
    -webkit-border-image: url(../../images/ripple.svg) 5 round; /* Safari 3.1-5 */
    -o-border-image: url(../../images/ripple.svg) 5 round; /* Opera 11-12.1 */
    border-image: url(../../images/ripple.svg) 5 round;

    h1 {
      // font-family: futura-pt-condensed;
      color: $blue-text-sky;
    }

    p {
      color: #ffffff;
    }
  }

  .principles {
    background: #fff;
    margin: 0;

    h3 {
      color: $blue-text;
    }

    p {
      color: $gray-text;
    }
  }

  .meettheteam {
    margin: 0;
    background: $blue-background-light;

    h1 {
      color: white;
    }

    h3 {
      color: $blue-text;
      font-family: Futura-PT-Condensed;
    }

    p {
      color: $gray-base;
      font-size: 1.5em;
    }
  }


  h4 {
    span.circle {
      color: white;
      background: #49BBE4;
      display: inline-block;
      width: 20px;
      height: 20px;
      text-align: center;
      border-radius: 50%
    }
  }
}
