$gray-base: #ededed;
$gray-light: #f7f7f7;
$gray-text: #222222;
$gray-dark: #494949;

$blue-light: #51d1ff;
$blue-text: #17566d;
$blue-text-sky: #C7F0FF;

$blue-wave-dark: #30AEDB;
// $blue-wave-dark: #2AA5D6;
$blue-wave-light: #49BBE4;

$pink-action: #f96488;

$white: #ffffff;
