$gray-base: #ededed;
$gray-light: #f6f6f6;
$gray-text: #222222;

$blue-light: #51d1ff;
$blue-text: #17566d;
$blue-text-sky: #C7F0FF;
$blue-background-light: #49BBE4;

$blue-wave-dark: #30AEDB;
$blue-wave-light: #49BBE4;

$pink-action: #f96488;
