.ui-work-together {
  background-color: $blue-text;
  background-image: url(../images/bottom_background.png);
  background-position: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 45px;

  h1 {
    margin-top: 0;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 55px;
  }
}

.footer {
  padding: 10px 0;

  &.row {
    margin: 0;
  }

  img {
    width: 100px;
    float: left;
  }

  ul,
  li {
    display: inline-block;
    padding-left: 0;
  }
  ul {
    width: 100%;
    margin-left: -100px;
    text-align: center;
    line-height: 55px;
    margin-bottom: 0;
  }

  li {
    padding: 0 10px;

    a {
      font-size: 1.5em;
      color: $blue-text
    }
  }
}

/**************
MOBILE
**************/
@media (max-width: 820px) {
  .footer {
  padding-left:0px;


  &.row {
    margin: 10px;
  }

  img {
    width: 130px;
    float: none;
    clear: both;
    display: block;
    margin: 8px auto;
  }

  ul,
  li {
    display: inline-block;
    padding: 8px 32px 8px;


  }
  ul {
    width: 100%;
    text-align: center;
    margin-left: 0;
    padding-left: 4px;
  }
}
}