.ui-work-together {
  background-color: $blue-text;
  background-image: url(../images/bottom_background.png);
  background-position: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 45px;


  h1 {
    margin-top: 0;
  }

  h2 {
    margin-top: 35px;
    margin-bottom: 55px;
  }
}

.footer {
  padding: 10px 0;

  &.row {
    margin: 0;
  }

  img {
    width: 152px;
    float: left;
  }

  ul,
  li {
    display: inline-block;
  }
  ul {
    width: 93%;
    margin-left: -100px;
    text-align: center;
    line-height: 85px;
    margin-bottom: 0;
  }

  li {
    padding: 0 25px;

    a {
      font-size: 1.5em;
      color: $blue-text
    }
  }
}


/**************
MOBILE
**************/
@media (max-width: 820px) {

.ui-work-together {
  padding-right: 1.25em;
  padding-left: 1.25em;
 
}
}
