$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import '../fonts/font-awesome-4.3.0/scss/font-awesome.scss';

@import 'components/button';

@import 'colors';
@import 'description';
@import 'header';
@import 'home';
@import 'specialties';
@import 'worktogether';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background: $gray-base;
  font-family: Futura-PT;
  // font-family: Futura-PT-Condensed;

  h4 {
    color: $blue-text;
  }

  p {
    color: $blue-text;
  }
}

/**********
ANIMATIONS
**********/
@-webkit-keyframes move-dark-wave {
    from {left: -37%;}
    to {left: -51%;}

    // from {left: -48%;}
    // to {left: -40%;}
}
@keyframes move-dark-wave {
  from {left: -37%;}
  to {left: -51%;}

  // from {left: -48%;}
  // to {left: -40%;}
}
@-webkit-keyframes move-light-wave {
  from {left: -48%;}
  to {left: -40%;}

  // from {left: -37%;}
  // to {left: -51%;}
}
@keyframes move-light-wave {
  from {left: -48%;}
  to {left: -40%;}

  // from {left: -37%;}
  // to {left: -51%;}
}
