$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import '../fonts/font-awesome-4.3.0/scss/font-awesome.scss';
// colors - must be first
@import 'colors';

@import 'about/aboutus';

@import 'components/button';
@import 'components/foldingpanel';
@import 'components/inputs';
@import 'components/header';
@import 'components/headerwave';

@import 'contact/contact';

@import 'home/description';
@import 'home/home';
@import 'home/specialties';

@import 'work/backpack';
@import 'work/charitagoal';
@import 'work/work';
@import 'worktogether';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background: $gray-base;
  font-family: Futura-PT;
  font-size: 16px;

  h1 {
    font-size: 3em; // 48px
  }

  h2 {
    // font-size: 2em; // 30px
  }

  h3 {
    font-size: 1.75em; // 28px
  }

  h4 {
    font-size: 1.5em; // 24px
  }

  h5 {
    font-size: 1.25em;
  }

  h6 {
    font-size: .875em; // 14px
  }
  // TODO: clean it up
  h1,
  h2,
  h3,
  h4 {
    color: $blue-text;

    &.white {
      color: $white;
    }

    &.gray-base {
      color: $gray-base;
    }

    &.gray {
      color: $gray-text;
    }

    &.blue-sky {
      color: $blue-text-sky;
    }
    &.blue-wave-light {
      color: $blue-wave-light;
    }
  }

  p {
    &.white {
      color: $white;
    }

    &.gray {
      color: $gray-text;
    }

    &.gray-base {
      color: $gray-base;
    }

    i {
      &.blue-text {
        color: $blue-text;
      }
    }
  }

  .bold {
    font-weight: bold;
  }

  .required {
    color: $pink-action;
  }
}

.container-fluid {
  max-width: 1300px;
}

/**************
WAVE ANIMATIONS
**************/
@-webkit-keyframes move-dark-wave {
    from {left: -37%;}
    to {left: -51%;}
}

@keyframes move-dark-wave {
  from {left: -37%;}
  to {left: -51%;}
}

@-webkit-keyframes move-light-wave {
  from {left: -48%;}
  to {left: -40%;}
}

@keyframes move-light-wave {
  from {left: -48%;}
  to {left: -40%;}
}
