.ui-work-button {
  position: relative;
  
  a {
    color: white;
    background: #f96488;
    border-radius: 0;
    padding: 15px;
    font-size: 22px;

    i {
      margin-left: 10px; font-weight: bold
    }
  }
}
