.ui-work-button {
  position: relative;

  a {
    color: white;
    background: #f96488;
    border-radius: 0;
    padding: 16px;
    font-size: 1.5em;
    font-weight: bold;

    i {
      margin-left: 10px;
      font-weight: bold;
      font-size: 32px;
      position: relative;
      top: 2px;
    }

    &:hover {
      text-decoration: none;
      background: #E25A7B;
    }

    &:focus {
      text-decoration: none;
    }
  }
}
