section.aboutus {
  > div {
    padding: 0 85px;
  }

  .jumbotron {
    margin-top: 200px;
    height: 460px;
    margin-bottom: 0;
    background-image: url('../images/background.jpg');
    border-radius: 0;
    padding-top: 90px;

    h1 {
      margin-top: -10px
    }

    h4 {
      line-height: 1.5em;
      width: 75%;
      margin: auto;
    }
  }

  .whatwedo {
    background: $white;
    margin: 0;
    padding-bottom: 20px;

    .row {
      padding: 25px 0;
    }
  }

  .thebottomline {
    background: $blue-text;
    margin: 0;
    border-bottom: 0;
    border-top: 5px solid transparent;
    -webkit-border-image: url(../images/ripple.darksvg) 5 round; /* Safari 3.1-5 */
    -o-border-image: url(../images/rippledark.svg) 5 round; /* Opera 11-12.1 */
    border-image: url(../images/rippledark.svg) 5 round;
  }

  .principles {
    background: $white;
    margin: 0;
    padding-bottom: 20px;
  }

  .meettheteam {
    margin: 0;
    background: $blue-wave-light;

    h3 {
      font-family: Futura-PT-Condensed;
    }
  }

  img.animation {
    padding-top: 20px;
    // -webkit-animation: heartbeat 1s infinite ease-in-out; /* Chrome, Safari, Opera */
    // animation: heartbeat 1s infinite ease-in-out;
    // -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    // animation-direction: alternate;
  }
  //
  // @-webkit-keyframes heartbeat {
  //     from {height: 200px;}
  //     to {height: 220px;}
  // }
  // @keyframes heartbeat {
  //   from {height: 200px;}
  //   to {height: 220px;}
  // }
  h4 {
    span.circle {
      color: white;
      background: $blue-wave-light;
      display: inline-block;
      width: 25px;
      height: 25px;
      text-align: center;
      border-radius: 50%
    }
  }
}
