/*******
DESCRIPTION
*******/
.ui-description {
  background: $gray-light;
  padding-top: 15px;
  padding-bottom: 40px;

  &.row {
    margin: 0;
  }

  .mission-statement {
    line-height: 1.5em;
  }
}
