/***
HOME
****/
.ui-waves-animation-parent {
  margin-top: 200px;
  overflow: hidden;
  position: relative;
  background: $blue-light;

  .ui-waves-animation {
    padding-bottom: 45px;

    .jumbotron {
      background: none;
      width: 80%;
      margin: auto;
      margin-bottom: 75px;
    }

    .ui-wave-dark,
    .ui-wave-light {
      background-size: 70px;
      background-repeat: repeat-x;
      height: 100px;
      position: absolute;
      width: 200%;
    }

    .ui-wave-dark {
      background-image: url(../images/wave-dark.png);
      left: -50%;
      bottom: 0px;
      box-sizing: content-box;
      -webkit-animation: move-dark-wave 8s infinite ease-in-out; /* Chrome, Safari, Opera */
      animation: move-dark-wave 8s infinite ease-in-out;
      -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
      animation-direction: alternate;
      border-bottom: 40px solid $blue-wave-dark;
    }

    .ui-wave-light {
      background-image: url(../images/wave-light.png);
      left: -47%;
      bottom: 5px;
      box-sizing: content-box;
      -webkit-animation: move-light-wave 8s infinite ease-in-out; /* Chrome, Safari, Opera */
      animation: move-light-wave 8s infinite ease-in-out;
      -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
      animation-direction: alternate;
      border-bottom: 40px solid $white;
    }

    h1 {
      text-shadow: 3px 3px $blue-wave-dark;
      font-family: futura-pt-condensed;
      font-size: 4.5em;
      margin-top: 0;
    }
  }
}
