/****
SPECIALTIES
****/
.ui-specialties {
  background: white;
  padding: 15px 0;
  padding-bottom: 40px;

  .col-md-4,
  .col-xs-12 {
    position: relative;
  }

  .col-xs-12 {
    margin-bottom: 30px;
  }

  .ui-work-button {
    margin-top: 35px;
  }

  .inner-circle {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 99%;
    height: 220px;
    width: 220px;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    top: -25px;
    box-shadow:
      inset 0 0 0 15px rgba(255,255,255, 1);

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    &.ui-design {
      background-image: url(../images/design.png);
    }

    &.ui-branding {
      background-image: url(../images/branding.png);
    }

    &.ui-ux {
      background-image: url(../images/ux.png);
    }

    p {
      position: relative;
      top: 90px;
      color: $white;
      font-style: italic;
      padding: 0 10px;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }

    &:hover {
      box-shadow:
        inset 0 0 0 110px rgba(23,86,109, 0.8);

      p {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
    }
  }
}
