.cd-fold-content{
  div.lflg {
    background-color: $white;

    img {
      width: 100%;
    }

    h1,
    h4,
    h5 {
      margin: 0;
      color: $gray-dark;
    }

    h4 {
      font-weight: 900;
    }

    h5 {
      padding-top: 70px;
    }

    span.circle {
      color: white;
      background: $blue-wave-light;
      display: inline-block;
      width: 25px;
      height: 25px;
      text-align: center;
      border-radius: 50%;
      font-size: 18px;
    }

    .original-site {
      font-family: Futura;
    	font-size: 18px;
    	font-weight: 500;
    	font-style: italic;
    	color: $gray-text;
    }

    section {
      padding: 4em;

      &.introduction {
        position: relative;
        top: -175px;
        margin-bottom: -175px;
        padding-top: 0;

        img {
          width: 75%;
        }

        .original {
          img {
            width: 100%;
          }
        }
      }

      &.conclusion {
        a {
          text-decoration: underline;
          font-size: 24px;
          color: $blue-text;
        }
      }

      &.research,
      &.conclusion {
        background: $gray-light;
      }

      &:last-of-type {
        margin-bottom: 4em;
      }
    }
  }
}
