.cd-fold-content{
  div.mercy {
    img {
      width: 100%;
    }

    h1,
    h4,
    h5 {
      margin: 0;
      color: $gray-dark;
    }

    h4 {
      padding: 20px 0;
    }
    h5 {
      padding-top: 70px;
    }
    section {
      padding: 4em;

      &.introduction {
        position: relative;
        top: -175px;
        margin-bottom: -175px;
        padding-top: 0;

        img {
          width: 75%;
        }
      }
      &.group-1 {
        background: #f7f7f7;
      }

      &.group-2 {
        background: #b74b27;
      }

      &.group-3 {
        background: #ffb03a;
      }

      &.contact {
        background: #3E789F;
      }

      &:last-of-type {
        margin-bottom: 4em;
      }
    }
  }
}
